<div class="container">
    <div class="wrapper">
        {{#each articles}}
            {{#if isSaved}}
                {{> articles/article-block isSaved=true}}
            {{/if}}
        {{#each}}
    </div>
</div>